body {
  background: url(http://i.imgur.com/PN3HfPU.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed
}

.span4 {
  float: left;
  background-color: cornsilk;
  margin: 1.25em
}

.important {
  color: #red;
  border-radius: red;
}

.ob {
  font-weight: bolder;
}

h3.intro {
  width: 85%;
  font-style: italic;
  font-variant-ligatures: normal;
  font-style: oblique;
  color: ;
}
